.footer {
    background-color: #666;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100vh;
}
.footer ul {
    /* 表示幅を90%に */
    width: 98%;
    /* フレックスボックス化 */
    display: flex;
    /* 先頭のポチをなくす */
    list-style: none;
    /* 余白の自動調整 （上下の余白は0、左右は自動調整）*/
    margin: 0 auto;
    /* 高さを50pxに指定 */
    height: 50px;
}

.hackit { 
    margin-left: auto;
    margin-right: auto;
}

/*スマホ対応*/
@media screen and (max-width: 640px) {
    .footer {
        background-color: #666;
    }
}
